
:root{
--item:10;
--width: clamp(250px,60vw, 400px);
--height: clamp(100px, 40vw,300px);
}
html{
    background: linear-gradient(135deg, #000, #1c2342);
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: end;

    position: absolute;
  
    height: 70px;
    width: 100vw;
}
.retorna-perfil {
    border: 3px inset #796f62;
    border-radius: 30px;
    padding: 10px 15px;
    margin-right: 20px;
}
.retorna-perfil a{
    color: #000;
    font-size: 17px;
    font-weight: 600;
}
.retorna-perfil:hover{
    cursor: pointer;
    transform: scale(1.2) ;
    transition: all .4s ease;
}

.slider{
    position: relative;

    height: 100vh;
    overflow: hidden;

    pointer-events: none;
    z-index: 999;
}

.sliderItem{
    --x:calc(var(--active)*800%);
    --y:calc(var(--active)*200%);
    --start:calc(var(--active)*120deg);
    --opacity:calc(var(--zIndex)/var(--items)* 3 - 2);

    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);

    margin: calc(var(--height)*-0.5) 0 0 calc(var(--width)* -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;

    user-select: none;
    transform-origin: 0% 100%;

    box-shadow: 0px 10px 50px 10px #00000080;
    background: #000;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--start));

    transition: transform 0.9s cubic-bezier(0, 0.02, 0, 1);
}
.sliderItem .sliderBox{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    transition: opacity 0.9s cubic-bezier(0, 0.02, 0, 1);

    opacity: var(--opacity);

    font-family: 'Abril Fatface', cursive;

    z-index: 999;
}
.sliderItem .sliderBox::before{
    content: "";
    position: absolute;
/* está sobrepondo a sombra na img */
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: linear-gradient(to bottom, #0000004d, #00000000 30%, #00000000 30%, #00000080);

    z-index: 999;
}
.sliderItem img{
    width: 100%;
    height: 100%; 

    object-fit: cover;
    pointer-events: none;
}
.sliderItem .name{
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    bottom: 20px;
    left: 20px;
   

    transition: opacity 0.9s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
  

    text-shadow: 0 4px 4px #0000001a;
    
}

.sliderItem .number{
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity 0.9s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);

    z-index: 999;
}